{% extends 'html/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card col-md-6 shadow-lg mx-auto">
	<div class="card-body">
		<h3>Register</h3>
		<form method="post">
			{% csrf_token %}
			{% for i in h %}
				{{i}}
			{% endfor %}
			<div class="row">
				<a href="{% url 'lg' %}" class="col-sm mx-2 btn btn-outline-info">Already Have an Account</a>
				<input type="submit" value="Subscribe" class="col-sm mx-2 btn btn-outline-success">
			</div>
		</form>
	</div>
</div>
{% endblock %}