{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Employee Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
	<script type="text/javascript" src="{% static 'js/sample.js' %}"></script>
</head>
<body>
	<img src="{% static 'images/car.png' %}" height="50px" width="50px">
	<form method="post">
		{% csrf_token %}
		<label>Employee Name:</label>
		<input type="text" name="en"><br/>
		<label>Employee Age:</label>
		<input type="number" name="ea"><br/>
		<label>Employee Email:</label>
		<input type="email" name="ee"><br/>
		<label>Employee Salary:</label>
		<input type="number" name="es"><br/>
		<input type="submit" value="Create">
	</form>
</body>
</html>